<div class="container-fluid">
    <div class="row">
        <div class="col-12" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Lector</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor='let course of courses | async'>
                    <td>{{course.name}}</td>
                    <td>{{course.credit}}</td>
                    <td>{{course.lector}}</td>
                    <td><a class="btn btn-primary" (click)="openModal(course, content)">update</a>
                    <button type="button" class="btn btn-danger" (click)="deleteCourse(course.key)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title"></h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                <form #editForm ="ngForm" class="course">
                  <div class="form-group">
                      <label for="name" ><br> Course Name</label>
                      <input type="text" ngModel value={{courseSelected.name}} name="name" class="form-control" id="name" placeholder={{courseSelected.name}} required>
                  </div>

                  <div class="form-group">
                      <label for="credit">Course Credit</label>
                      <input type="number" ngModel value={{courseSelected.credit}} name="credit" class="form-control" id="credit" placeholder={{courseSelected.credit}} required>
                  </div>

                  <div class="form-group">
                      <label for="name">Course Lector</label>
                      <select class="form-control" name="lector" id="lector" ngModel required>
                          <option  *ngFor='let lector of lectors  | async' value="{{lector.name}}">{{lector.name}}</option>
                      </select>
                  </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="updateCourse(editForm,courseSelected.key)">Save</button>
                    </div>
                  </form>
                </div>
              </ng-template>
        </div>
    </div>
</div>
